################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScriptManager/.vs/ScriptManager/v17/.suo
